body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root{
  margin-top: 5%;
}

#transitions{
  margin-bottom: 5%;
  padding: 15px;
  border: 1px solid rgba(175,175,175, 0.2);
  border-radius: 10px;
  box-shadow: 3px 6px 8px rgba(175,175,175, 0.2);
}

#nodes{
  margin-bottom: 5%;
  padding: 15px;
  border: 1px solid rgba(175,175,175, 0.2);
  border-radius: 10px;
  box-shadow: 3px 6px 8px rgba(175,175,175, 0.2);
}

.title-head-div{
  border-bottom: 1px solid rgba(175,175,175, 0.2);
  margin-bottom: 10px;
  color: rgba(0,0,0, 0.3);
}

#datas{
  padding: 0px;
  border: 1px solid rgba(175,175,175, 0.2);
  box-shadow: 3px 6px 8px rgba(175,175,175, 0.2);
}

.head-table-big-title{
  background-color: #efefef;
  font-weight: bold;
}

.head-table-little-title{
  background-color: #f6f6f6;
  font-weight: bold;
}

.container{
  margin-bottom: 1rem;
}
